$gap: 0.5rem;
$color-success: #254bac;
$color-danger: #cd5c5c;
$padding: 0.25rem 1.5rem;
$radius-default: 0.2rem;

.logo {
  width: 8rem;
}

.counter-wrapper {
  display: flex;
  flex-direction: column;
  gap: $gap;
  align-items: center;
  justify-content: center;
}

.buttons-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

.btn {
  outline: none;
  border: none;
  padding: $padding;
  border-radius: $radius-default;
}

.btn-success {
  color: white;
  background-color: $color-success;
  cursor: pointer;
}

.btn-danger {
  color: white;
  background-color: $color-danger;
  cursor: pointer;
}
